/*CHARTS PANEL*/
.charts-panel {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: white;
    border: 1px solid #999; 
    padding: 0;
    margin: 0;
}

.charts-panel > div {
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




/* Option panel */
.options-panel {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #999;
    background-color: #e4e4ed;
    padding: 6px;
}

.options-panel > div, select, input{
    display: block;
    position: relative;
    float: left;
}

.dropdown-label {
    width: auto;
    height: 32px;
    padding: 6px;
    padding-left: 0;
    font-family: 'Century Gothic';
    line-height: 20px;
    margin: 0 6px;
}

.dropdown-container {
    width: 160px;
    height: 32px;
    padding: 0;
    margin-right: 24px;
    font-family: 'Century Gothic';
}


.charts-options-checkbox {
    height: 32px;
    margin: 0 !important;
    margin-left: 24px !important;
}

.charts-options-checkbox-label {
    width: auto;
    height: 32px;
    padding: 6px;
    padding-left: 0;
    font-family: 'Century Gothic';
    line-height: 20px;
    margin-left: 6px;
}


.dropdown-container input{
    width: 300px;
}



/* Charts container */
.charts-container {
    width: 100%;
    height: auto;
    min-height: 500px;
    background-color: white;
    /*border: 1px solid red;*/
}

.date-scale-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    background-color: white;
}

.date-scale-labels {
    display: block;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: blue;
    z-index: 0;
}

.date-scale-slider {
    display: block;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
}

.timeframe-charts-container {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.chart-container {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #333;
}

.chart-container-values {
    display: block;
    position: relative;
    float: right;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.chart-container-visible {
    display: block;
    position: absolute;
    float: right;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    background-color: #DDD;
    bottom: 0;
    top: 0;
    left: 0;
    border-right: 1px solid #333;
}

.chart-svg-container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    border: none;
}

.chart-infobox {
    display: block;
    position: absolute;
    box-sizing: border-box;
    border: none;
    top: 6px;
    left: 6px;
    width: auto;
    height: 18px;
    z-index: 2;
    font-family: 'Century Gothic';
    line-height: 18px;
    color: #444;
}

.chart-events-layer {
    display: block;
    position: absolute;
    float: right;
    box-sizing: border-box;
    background-color: transparent;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    border-right: 1px solid transparent;
    z-index: 1;
}


span.info {
    margin-left: 12px; 
}














.svg-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.svg-date-scale-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 30px;
    border-top: 1px solid #777;
    /*overflow: hidden;*/
}

.svg-values-container{
    position: absolute;
    top: 0;
    bottom: 30px;
    right: 0;
    border-left: 1px solid #777;
    /*overflow: hidden;*/
}

path{
    shape-rendering: crispEdges;
}

.crosshair {
    position: absolute;
    display: block;
    border: 1px dotted rgb(0, 23, 216);
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.crosshair-vertical {
    width: 1px;
    height: 100%;
}

.crosshair-horizontal {
    width: 100%;
    height: 1px;
}

.chart-details-panel {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 134px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    background-color: white;
    z-index: 2;
}

.chart-detail-line-container {
    display: block;
    position: relative;
    padding: 3px;
    width: 132px;
    height: 18px;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #DDD;
    color: #333;
    line-height: 12px;
}

.chart-detail-line-label {
    display: block;
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
}

.date-line {
    background: #EEE;
    border-bottom: 1px solid #444;
}

.date-value {
    text-align: center !important;
    width: 100% !important;
}

.chart-detail-line-value {
    display: block;
    position: relative;
    float: left;
    width: 65px;
    height: 100%;
    text-align: right;
}

.scale-indicator {
    display: none;
    position: absolute;
    width: auto;
    height: 24px;
    color: #444;
    font-size: 10px;
    line-height: 12px;
    padding: 6px;
    margin: 0 3px;
    text-align: center;
    border: 1px solid;
    z-index: 2;
    overflow: hidden;
}

.value-indicator {
    background-color: rgb(242, 242, 188);
    border-color: rgb(193, 161, 0);
    margin-top: -12px;
    left: 6px;
}

.date-indicator {
    background-color: rgb(242, 242, 188);
    border-color: rgb(193, 161, 0);
    width: 70px;
    margin-left: -35px;
    top: 6px;
}




.draw-layer {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    z-index: 999;
}