body {
    height: auto;
    overflow-y: auto;
}

*
{
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}


.tree-background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #646464;
    background-color: rgba(100, 100, 100, 0.85);
    z-index: 2;
    overflow-y: auto;
}

.tree-container-frame
{
    position: absolute;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    top: 50px;
    left: 25%;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: transparent;
}

.tree-container
{
    position: relative;
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    border: 3px solid #555;
    background-color: #eee;
}

.tree-container-exit
{
    position: absolute !important;
    display: block !important;
    right: 1px !important;
    top: 1px !important;
    width: 24px !important;
    height: 24px !important;
    background-image: url('images/close-image-24.png') !important;
    z-index: 1 !important;
}

.tree-buttons-panel
{
    width: 100%;
    margin-top: 24px;
}

.tree-buttons-container
{
    float: none !important;
    width: 180px;
    height: auto;
    margin: 0 auto;
}

input.tree-button
{
    display: block;
    float: left !important;
    width: 46%;
    height: 30px;
    padding: 6px;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    border: 1px solid #777;
    margin: 0 2%;
    background-color: #ddd;
    color: #444;
}

.tree-container div
{
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.node-container
{
    width: 100%;
}

div.tree-line
{
    width: 100%;
    padding: 4px 0 0 22px;
    height: 20px;
    overflow: visible;
    line-height: 16px;
}

div.children-container
{
    width: 100%;
    padding-left: 22px;
    height: auto;
    overflow: visible;
}

.tree-line .icon
{
    width: 16px;
    height: 16px;
    margin: 0 3px 0 3px;
    border: 1px solid black;
    padding: 1px;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
}

.tree-line .caption
{
    width: auto;
    height: 16px;
    margin: 0;
    margin-left: 3px;
    padding: 1px 3px 1px 3px;
    border: 1px solid transparent;
    line-height: 10px;
    text-align: left;
    cursor: pointer;
}

.tree-line .caption:hover {
    border: 1px dotted #444 ;
    background-color: #00ff00;
    background-color: rgba(0, 255, 0, 0.4);
}

.tree-line .drop-area {
    border: 1px dotted #444;
    background-color: #00ff00;
    background-color: rgba(0, 255, 0, 0.4);
}


.move {
    display: block !important;
    position: fixed !important;
    width: auto;
    margin: 0;
    padding: 1px 3px 1px 3px;
    border: 1px solid #151515;
    border: 1px solid rgba(21, 21, 21, 0.6);
    line-height: 12px;
    text-align: left;
    color: #000000;
    color: rgba(0, 0, 0, 0.6);
    background-color: #969696;
    background-color: rgba(150, 150, 150, 0.6);
    cursor: move;
    z-index: 1;
}


.selected {
    border: 1px dotted #444 !important;
    background-color: #00ff00;
    background-color: rgba(0, 255, 0, 0.4);
}


.children-container .node-container .tree-line {
    background-image: url('images/node.png') !important;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.children-container .node-container .children-container {
    background-image: url('images/line.png') !important;
    background-repeat: repeat-y;
}

.children-container .node-container:last-child > .children-container {
    background-image: none !important;
}

.children-container .node-container:last-child > .tree-line {
    background-image: url('images/last_node.png') !important;
    background-repeat: no-repeat;
}


*.unselectable {
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.events-container
{
    display: none;
}

.edit-name {
    display: block !important;
    position: absolute !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: -1px !important;
    top: -3px !important;
    z-index: 1;
    width: auto;
    height: 20px;
    margin-top: 0;
    padding: 1px 6px;
    border: 1px solid #151515;
    border: 1px solid rgba(21, 21, 21, 0.3);
    line-height: 16px;
    text-align: left;
    color: #000000;
    color: rgba(0, 0, 0,0.6);
    cursor: text;
}

.edit-name:focus {
    outline-style: none !important;
}

.select-checkbox
{
    float: left;
    width: 14px;
    height: 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none !important;
}


.tree-search-panel
{
    width: 100%;
    margin-bottom: 6px;
    height: 43px !important;
    padding: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #555;
    overflow: visible;
}

.tree-search-div {
    margin: 6px;
    width: 100%;
    height: 100%;
}

.tree-selection-container
{
    width: 100%;
    margin-top: 12px;
    height: auto;
    padding: 0;
    padding-top: 3px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    overflow: hidden;
}

.tree-selection-header
{
    width: 100%;
    padding: 0 3px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.tree-selection-nodes {
    width: 100%;
    height: auto;
    margin-top: 3px;
    padding: 3px;
}

.tree-selection-line
{
    width: 100%;
    height: 20px;
    padding: 0;
}

.tree-selection-line-remover {
    position: relative;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-image: url('images/delete-node.png') !important;
}

.tree-selection-line-caption {
    position: relative;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}