*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body
{
    width: 100%;
    min-width: 1000px;
    margin: 0;
    background-color: black !important;
}

#main {
	display: block;
	position: relative;
    box-sizing: border-box;
	/*width: 1162px;*/
    width: 100%;
    height: 740px;
    background-color: transparent;
    cursor: default;
    margin: 0 auto;
}

.block {
    display: block !important;
}

.none {
    display: none !important;
}

.margin-panel {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    /*background-color: transparent;*/
    background-color: black;
}

.left-float {
    float: left !important;
}

.visible {
    visibility: visible !important;
}

#menu-container {
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    /*width: 1162px;*/
    height: 28px;
    background-color: transparent;
    padding: 6px;
}

#content-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: auto;
    /*min-height: 650px;*/
    padding: 6px;
    margin-top: -2px;
    margin-bottom: 12px;
}

#footer-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 60px;
    background-color: #000;
    padding: 6px;
}


.button {
    display: block;    
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: #222;
    border: 1px solid #666;
    text-transform: uppercase;
    font-family: 'Century Gothic';
    cursor: pointer;
}


/* MENU CONTAINER */
#logo-container {
    display: block;
    position: absolute;
    width: 1162px;
    box-sizing: border-box;
    height: 92px;
    top: 0px;
    bottom: 6px;
    left: 0;
    background: url('pics/logo.png') no-repeat 0 0;
}

#options-container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 6px;
    top: 0px;
    bottom: 0px;
    width: 80%;
    height: 28px;
    background-color: transparent;
}

#login-container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    right: 6px;
    top: 0px;
    height: 28px;
    width: 15%;
    padding: 2px 0;
}

.top-panel-button {
    display: block;
    position: relative;
    float: right;
    height: 24px;
    width: 24px;    
    margin-left: 12px;  
    cursor: pointer; 
}

.menu-option {
    display: block;
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    /*border-left: 1px solid #EEE;*/
    color: #fff;
    line-height: 32px;
    text-transform: uppercase;
    font-family: 'Century Gothic';
    font-size: 14px;
    cursor: pointer;
}





/*POP UPS*/
.pop-up-background {
	display: none;
	position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 2040px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: default;
    margin: 0 auto;
    z-index: 2;
    visibility: visible;
}

.relative-fill {
	display: block;
	position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.pop-up-container-absolute {
    display: block;
	position: absolute;
    box-sizing: border-box;
	width: 100%;
    top: 106px;
    bottom: 30px;
}

.pop-up-container-relative {
    display: block;
	position: relative;
    box-sizing: border-box;
	width: 962px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #666;
    background-color: #EEE;
}

.pop-up-close-button {
    display: block;
    position: absolute;
    top: -30px;
    right: -30px;
    height: 24px;
    width: 24px;
    background: url('pics/stodonosa.png') no-repeat -24px -24px;
    cursor: pointer;
}


.arrow-up-icon {
    background: url('images/icons.png') no-repeat -96px -24px;
}

.arrow-down-icon {
    background: url('images/icons.png') no-repeat -120px -24px;
}

.arrow-up-small-icon {
    background: url('images/icons.png') no-repeat -48px -48px;
}

.arrow-down-small-icon {
    background: url('images/icons.png') no-repeat -48px -64px;
}

.login-icon {
    background: url('images/login.png') no-repeat 0 0;
}

.search-icon {
    background: url('images/search.png') no-repeat 0 0;
}