<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="mySQLconn" connectionString="DRIVER={MySQL ODBC 5.1 Driver};server=skyhill.ipowermysql.com; user id=skyhillweb; password=******; database=skyhill; OPTION=3;" providerName="MySql.Data.MySqlClient" />-->
    <add name="OriginalDbContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx;" providerName="MySql.Data.MySqlClient" />
    <add name="UnitTestsDbContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="EfDbContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="CurrencyContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="AssetContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="MarketContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="TimeframeContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="AnalysisContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="DataContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="SimulationContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <add name="TrendlineContext" connectionString="server=localhost; User Id=root; Password=79tmkmlk33; Persist Security Info=True; database=fx_unittests;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Stock.Web-20140221185522;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Stock.Web-20140221185522.mdf" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
<system.data><DbProviderFactories><remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories></system.data></configuration>